include ChangeLog
include create_book.py
include create_pot_file
include create_pynsist_pkgs
include createwheels
include gnome_preamble.py
include gshogi/data/opening.bbk
include installer32.cfg
include installer64.cfg
include README-windows.txt
include gshogirun2
include gshogirun3
include LICENSE
include run.py
include gshogi.desktop
include gshogi.png
include ez_setup.py
include data/gnushogi.tbk
include engine/attacks.c
include engine/book.c
include engine/book.h
include engine/commondsp.c
include engine/debug.h
include engine/enginemodule.c
include engine/eval.c
include engine/eval.h
include engine/genmove.c
include engine/globals.c
include engine/gnushogi.h
include engine/gnushogi.lng
include engine/init.c
include engine/opts.h
include engine/pattern.c
include engine/pattern.h
include engine/pattern.inc
include engine/rawdsp.c
include engine/rawdsp.h
include engine/search.c
include engine/sysdeps.c
include engine/tcontrl.c
include engine/util.c
include engine/version.h
include gshogi/images/wood1.png
include gshogi/images/wood1_hl.png
include gshogi/images/gshogi/bishopB.png
include gshogi/images/gshogi/bishopPB.png
include gshogi/images/gshogi/goldB.png
include gshogi/images/gshogi/kingB.png
include gshogi/images/gshogi/knightB.png
include gshogi/images/gshogi/knightPB.png
include gshogi/images/gshogi/lanceB.png
include gshogi/images/gshogi/lancePB.png
include gshogi/images/gshogi/pawnB.png
include gshogi/images/gshogi/pawnPB.png
include gshogi/images/gshogi/rookB.png
include gshogi/images/gshogi/rookPB.png
include gshogi/images/gshogi/silverB.png
include gshogi/images/gshogi/silverPB.png
include gshogi/images/eastern/bishopB.png
include gshogi/images/eastern/bishopPB.png
include gshogi/images/eastern/bishopPW.png
include gshogi/images/eastern/bishopW.png
include gshogi/images/eastern/goldB.png
include gshogi/images/eastern/goldW.png
include gshogi/images/eastern/kingB.png
include gshogi/images/eastern/kingW.png
include gshogi/images/eastern/knightB.png
include gshogi/images/eastern/knightPB.png
include gshogi/images/eastern/knightPW.png
include gshogi/images/eastern/knightW.png
include gshogi/images/eastern/lanceB.png
include gshogi/images/eastern/lancePB.png
include gshogi/images/eastern/lancePW.png
include gshogi/images/eastern/lanceW.png
include gshogi/images/eastern/pawnB.png
include gshogi/images/eastern/pawnPB.png
include gshogi/images/eastern/pawnPW.png
include gshogi/images/eastern/pawnW.png
include gshogi/images/eastern/rookB.png
include gshogi/images/eastern/rookPB.png
include gshogi/images/eastern/rookPW.png
include gshogi/images/eastern/rookW.png
include gshogi/images/eastern/silverB.png
include gshogi/images/eastern/silverPB.png
include gshogi/images/eastern/silverPW.png
include gshogi/images/eastern/silverW.png
include gshogi/images/logo.png
include gshogi/images/western/bishopB.png
include gshogi/images/western/bishopPB.png
include gshogi/images/western/bishopPW.png
include gshogi/images/western/bishopW.png
include gshogi/images/western/goldB.png
include gshogi/images/western/goldW.png
include gshogi/images/western/kingB.png
include gshogi/images/western/kingW.png
include gshogi/images/western/knightB.png
include gshogi/images/western/knightPB.png
include gshogi/images/western/knightPW.png
include gshogi/images/western/knightW.png
include gshogi/images/western/lanceB.png
include gshogi/images/western/lancePB.png
include gshogi/images/western/lancePW.png
include gshogi/images/western/lanceW.png
include gshogi/images/western/pawnB.png
include gshogi/images/western/pawnPB.png
include gshogi/images/western/pawnPW.png
include gshogi/images/western/pawnW.png
include gshogi/images/western/rookB.png
include gshogi/images/western/rookPB.png
include gshogi/images/western/rookPW.png
include gshogi/images/western/rookW.png
include gshogi/images/western/silverB.png
include gshogi/images/western/silverPB.png
include gshogi/images/western/silverPW.png
include gshogi/images/western/silverW.png
include gshogi/glade/comments.glade
include gshogi/glade/gamelist.glade
include gshogi/glade/set_colours.glade
include gshogi/glade/common_engine_settings.glade
include gshogi/glade/main_window.glade
include gshogi/glade/set_pieces.glade
include gshogi/glade/engine_debug.glade
include gshogi/glade/move_list.glade
include gshogi/glade/engine_output.glade
include gshogi/glade/preferences.glade
include locale/gshogi.pot
include locale/*/LC_MESSAGES/*.po
